# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv

# Mac system files
.DS_Store

# PyMuPDF cache
*.xoj

# Ollama model cache
.ollama/

# Logs
*.log

# Streamlit secrets (if any)
.streamlit/secrets.toml

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Output PDFs
*.pdf
